body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    color: #000;
    margin: 0;
    padding: 20px;
}

.container {
    text-align: left;
    max-width: 400px;;
}


button {
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #e0e0e0;
}